# Use this to add new entries: https://theapache64.github.io/git-do-not-ignore/
# Ignore everythig
/*

# Ignore logs
**.log

# EXCEPT!!!!!
!.gitignore

# ------ Vscode
!Code/
Code/*
!Code/User/
Code/User/*
!Code/User/keybindings.json
!Code/User/settings.json
!Code/User/snippets/
Code/User/snippets/*
!Code/User/snippets/*

